/* middle */
.middle {
   display: flex;
   flex-wrap: wrap;
}

.middle > .card {
   width: 150px;
   border: 1px solid gray;
   margin: 50px;
}

img {
   width: 150px;
}

.poke_name {
   text-align: center;
}

.del_button {
   width: 100%;
   background-color: red;
   font-size: 15px;
   font-weight: bold;
}

.level_button {
   width: 100%;
   background-color: yellow;
   color: blue;
   font-size: 15px;
   font-weight: bold;
}
